body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
.clear-both {
    clear: both;
}
/* Header + NAV */
#header {
    background-color: #f8e1db;
    padding: 10px 0;
}
.logo {
    margin-left: 40px;
}
.menu {
    list-style: none;
    margin-top: 10px;
}
.menu li {
    display: inline;
    margin-right: 40px;
}
.menu li a {
    text-decoration: none;
    color: black;
}
.menu li a:hover {
    color: rgb(241, 18, 18);
}
/* Carousel */
#carousel {
    height: 700px;
    background-image: url("./Image/BG.png");
    background-size: cover;
    background-position: center;
}

/* Activities */
#activities {
    background-color: #faf4f2;
    padding: 100px 0;
}
.activities_title {
    text-align: center;
    color: #999898;
}
.activities_item {
    float: left;
    width: 25%;
    padding: 20px;
}

.activities_thumb img {
    width: 100%;
    border-radius: 30px;
}
.activities_thumb {
    position: relative;
}

.activities_text {
    text-align: center;
    background-color: white;
    border-radius: 20px; 
    padding: 20px;
}.activities_text p {
    color: #979797;
    font-size: 13px;
}
.fa-heart {
    position: absolute;
    top: 10px;
    right: 20px;
    color: red;
    padding: 6px;
    font-size: 30px;
    border-radius: 8px;
    background-color: #ffffff66;   
}
.activities_text button {
    padding: 10px 40px;
    border: none;
    border-radius: 30px;
    background-color: #e8e8e8;
    color: #a7a7a7;
}
.activities-btn {
    margin: 30px;
    text-align: center;
}
.activities-btn a {
    padding: 15px 60px;
    text-decoration: none;
    border: 2px solid #efaa99;
    color: #efa28f;
    border-radius: 30px;
}
.activities-btn a:hover {
    background-color: rgb(206, 203, 203);
}

/* Contact  */
.contact {
    background-color: #f8e1db;
}
.contact-left{
    float: left;
    width: 50%;
    padding: 30px;
    background-image: url(/Image/mask.png);
    background-size: cover;
    background-position: center;
}
.contact-text {
    float: left;
    width: 50%;
    color: #9e9a99;
    padding: 100px 50px;
}
.download,
.follow {
    float: left;
}
.follow i {
    font-size: 30px;
    padding: 0 5px;
    color: #e77154;
}


/* Footer */
.footer {
    margin-top: 100px;
    background-color: #f8e1db;
    height: 350px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 50px;
}
.footer-left {
   float: left;
   width: 40%;
}
.footer-right {
    float: left;
}
.footer-item {
    float: left;
    margin-left: 50px;
}
.footer ul {
    padding: 0;
}
.footer-item ul li {
    list-style: none;
    line-height: 30px;
}
.footer ul li a {
    text-decoration: none;
    color: black;
}
.footer ul li a:hover {
    color: red;
}
.footer-last {
    text-align: center;
}
